@use '../helpers' as *;

.header {
  // когда мы проскролим страницу на 100px начнется анимация
  --_animationScrollingHeaderStartsAfter: 100px;
  // после тогда как мы проскролилсь на 100px мы запустим анимацию которая будет 200px
  --_animationScrollingHeaderDistance: 200px;

  position: sticky;
  top: 0;
  z-index: 100;

  @supports (animation-timeline: scroll()) {
    animation: scrolling-header both;
    animation-timeline: scroll();
    animation-range-start: var(--_animationScrollingHeaderStartsAfter);
    animation-range-end: var(--_animationScrollingHeaderDistance);

    @keyframes scrolling-header {
      to {
        box-shadow: 0 0 1rem 0 var(--color-dark-40);
      }
    }
  }

  &__progress {
    display: none;

    @supports (animation-timeline: scroll()) {
      display: block;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100vw;
      height: 2px;
      transform-origin: 0 50%;
      background-color: var(--color-accent);
      animation: scrolling-progress linear;
      animation-timeline: scroll();

      @keyframes scrolling-progress {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }
    }
  }

  &__promo {
    padding-block: rem(12);
    text-align: center;
    border-bottom: var(--border);
    background-color: var(--color-dark-15);

    @include mobile {
      padding-block: rem(8);
    }
  }

  &__link {
    font-size: rem(16);
  }

  &__body {
    padding-block: rem(14);
    background-color: var(--color-dark-10);

    @include mobile {
      padding-block: rem(10);
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: rem(1);
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem(40);
      padding: rem(1);
      background-color: var(--color-dark-10);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(16);

      @include laptop {
        column-gap: rem(6);
      }

      @include mobile {
        flex-direction: column;
        row-gap: rem(1);
      }
    }

    &-link {
      padding: rem(14) rem(24);
      color: var(--color-gray-50);

      @include laptop {
        padding: rem(10) rem(18);
      }

      &:is(.is-active) {
        font-weight: 500;
        color: var(--color-light);
        background-color: var(--color-dark);
        border: var(--border);
        border-radius: rem(10);
        pointer-events: none;
      }
    }
  }

  &__contact-us-link {
    @include mobile {
      width: min(100%, rem(300));
      justify-content: center;
      align-self: center;
    }
  }
}
