@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc((100vw - var(--container-width)) / 2);
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: '';
      bottom: 100%;
    }
  }

  &--bottom {
    &::after {
      content: '';
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}

.circle-icon {
  --_circle-size: #{rem(52)};
  --_circle-margin-left: #{rem(20)};

  position: relative;
  padding-right: calc(var(--_circle-size) + var(--_circle-margin-left));
  min-height: var(--_circle-size);

  @include laptop {
    --_circle-size: #{rem(44)};
    --_circle-margin-left: #{rem(14)};
  }

  @include mobile {
    --_circle-size: #{rem(40)};
  }

  &::after {
    @include square(var(--_circle-size));

    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    background: url('../img/arrow-top-right-black.svg') no-repeat center
      var(--color-accent);
    border-radius: 50%;
  }
}
