<section class="about" aria-labelledby="about-title">
  <div class="about__inner container">
    <header class="about__header">
      <img
        class="about__icon"
        src="img/about/icon-about.svg"
        alt=""
        width="150"
        height="150"
        loading="lazy" />
      <div class="about__info">
        <p class="about__subtitle tag">Learn, Connect, and Innovate</p>
        <h2 class="about__title" id="about-title">
          Be Part of the Future Tech Revolution
        </h2>
      </div>
      <p class="about__description">
        Immerse yourself in the world of future technology. Explore our
        comprehensive resources, connect with fellow tech enthusiasts, and drive
        innovation in the industry. Join a dynamic community of
        forward-thinkers.
      </p>
    </header>
    <ul class="about__list">
      <li class="about__item">
        <a class="about-card tile" href="#">
          <h3 class="about-card__title circle-icon">Resource Access</h3>
          <p class="about-card__description">
            Visitors can access a wide range of resources, including ebooks,
            whitepapers, reports.
          </p>
        </a>
      </li>
      <li class="about__item">
        <a class="about-card tile" href="#">
          <h3 class="about-card__title circle-icon">Community Forum</h3>
          <p class="about-card__description">
            Join our active community forum to discuss industry trends, share
            insights, and collaborate with peers.
          </p>
        </a>
      </li>
      <li class="about__item">
        <a class="about-card tile" href="#">
          <h3 class="about-card__title circle-icon">Tech Events</h3>
          <p class="about-card__description">
            Stay updated on upcoming tech events, webinars, and conferences to
            enhance your knowledge.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
