<section class="contacts" aria-labelledby="contacts-title">
  <div class="contacts__header">
    <h1 class="visually-hidden" id="contacts-title">Contacts</h1>
    <ul class="bordered-grid bordered-grid--4-cols container">
      <li class="bordered-grid__item">
        <div class="contacts-card">
          <h2 class="contacts-card__title h6">General Inquiries</h2>
          <div class="contacts-card__body">
            <a
              class="contacts-card__link button button--dark-gray"
              href="mailto:contact@ai-podcasts.com">
              <span class="icon icon--yellow-arrow">
                contact@ai-podcasts.com
              </span>
            </a>
            <a
              class="contacts-card__link button button--dark-gray"
              href="tel:+1234567890">
              <span class="icon icon--yellow-arrow">+1 (123) 456-7890</span>
            </a>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="contacts-card">
          <h2 class="contacts-card__title h6">Technical Support</h2>
          <div class="contacts-card__body">
            <a
              class="contacts-card__link button button--dark-gray"
              href="mailto:contact@ai-podcasts.com">
              <span class="icon icon--yellow-arrow">
                contact@ai-podcasts.com
              </span>
            </a>
            <a
              class="contacts-card__link button button--dark-gray"
              href="tel:+1234567890">
              <span class="icon icon--yellow-arrow">+1 (123) 456-7890</span>
            </a>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="contacts-card">
          <h2 class="contacts-card__title h6">Our Office</h2>
          <div class="contacts-card__body">
            <address class="contacts-card__address">
              Address: 123 AI Tech Avenue, Techville, 54321
            </address>
            <a class="contacts-card__link button button--dark-gray" href="#">
              <span class="icon icon--yellow-arrow">Get Directions</span>
            </a>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="contacts-card">
          <h2 class="contacts-card__title h6">Connect with Us</h2>
          <div class="contacts-card__body">
            <div class="contacts-card__soc1als soc1als">
              <ul class="soc1als__list">
                <li class="soc1als__item">
                  <a
                    class="soc1als__link"
                    href="#"
                    target="_blank"
                    aria-label="Twitter"
                    title="Twitter">
                    <svg>
                      <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="soc1als__item">
                  <a
                    class="soc1als__link"
                    href="#"
                    target="_blank"
                    aria-label="Medium"
                    title="Medium">
                    <svg>
                      <use xlink:href="img/sprite.svg#medium"></use>
                    </svg>
                  </a>
                </li>
                <li class="soc1als__item">
                  <a
                    class="soc1als__link"
                    href="#"
                    target="_blank"
                    aria-label="LinkedIn"
                    title="LinkedIn">
                    <svg>
                      <use xlink:href="img/sprite.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="contacts__body">
    <div class="list">
      <div class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/contacts/icon-1.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h2 class="card__preview-title">
                  Get in Touch with AI Podcasts
                </h2>
              </div>
            </div>
          </div>
          <div class="card__body">
            <form class="feedback-form" action="/">
              <div class="feedback-form__cell field">
                <label class="field__label" for="firstName">
                  First Name
                  <span class="field__required-star" aria-hidden="true">*</span>
                </label>
                <input
                  class="field__control"
                  id="firstName"
                  placeholder="John"
                  type="text"
                  required />
              </div>
              <div class="feedback-form__cell field">
                <label class="field__label" for="lastName">Last Name</label>
                <input
                  class="field__control"
                  id="lastName"
                  placeholder="Doe"
                  type="text" />
              </div>
              <div class="feedback-form__cell field">
                <label class="field__label" for="email">
                  Email
                  <span class="field__required-star" aria-hidden="true">*</span>
                </label>
                <input
                  class="field__control"
                  id="email"
                  placeholder="john.doe@example.com"
                  type="email"
                  required />
              </div>
              <div class="feedback-form__cell field">
                <label class="field__label" for="phoneNumber">
                  Phone Number
                </label>
                <div class="field__body"></div>
              </div>
              <div class="feedback-form__cell feedback-form__cell--wide"></div>
              <div class="feedback-form__cell feedback-form__cell--wide"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/contacts/icon-2.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h2 class="card__preview-title h3">Asked question</h2>
                <p class="card__preview-description">
                  If the question is not available on our FAQ section, Feel free
                  to contact us personally, we will resolve your respective
                  doubts.
                </p>
              </div>
              <a class="card__preview-link button button--dark-gray" href="#">
                <span class="icon icon--yellow-arrow">Ask Question</span>
              </a>
            </div>
          </div>
          <div class="card__body">ACCORDION</div>
        </div>
      </div>
    </div>
  </div>
</section>
