<section class="section" aria-labelledby="features-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Unlock the Power of</p>
        <h2 class="section__title" id="features-title">FutureTech Features</h2>
      </div>
    </div>
  </header>
  <div class="section__body">
    <ul class="list">
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/features/1.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h3 class="card__preview-title">Future Technology Blog</h3>
                <p class="card__preview-description">
                  Stay informed with our blog section dedicated to future
                  technology.
                </p>
              </div>
            </div>
          </div>
          <div class="card__body">
            <ul class="card__grid card__grid--2-cols">
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Quantity</h4>
                <p class="card__cell-description">
                  Over 1,000 articles on emerging tech trends and breakthroughs.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Variety</h4>
                <p class="card__cell-description">
                  Articles cover fields like AI, robotics, biotechnology, and
                  more.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Frequency</h4>
                <p class="card__cell-description">
                  Fresh content added daily to keep you up to date.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Authoritative</h4>
                <p class="card__cell-description">
                  Written by our team of tech experts and industry
                  professionals.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/features/2.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h3 class="card__preview-title">Research Insights Blogs</h3>
                <p class="card__preview-description">
                  Dive deep into future technology concepts with our research
                  section.
                </p>
              </div>
            </div>
          </div>
          <div class="card__body">
            <ul class="card__grid card__grid--2-cols">
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Depth</h4>
                <p class="card__cell-description">
                  500+ research articles for in-depth understanding.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Graphics</h4>
                <p class="card__cell-description">
                  Visual aids and infographics to enhance comprehension.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Trends</h4>
                <p class="card__cell-description">
                  Explore emerging trends in future technology research.
                </p>
              </li>
              <li class="card__cell tile">
                <h4 class="card__cell-title h5">Contributors</h4>
                <p class="card__cell-description">
                  Contributions from tech researchers and academics.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
