<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__body">
      <nav class="footer__menu">
        <div class="footer__menu-column">
          <a class="footer__menu-main-link" href="">Home</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Features</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Blogs</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Resources</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Testimonials</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Contact Us</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Newsletter</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link" href="">News</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Trending Stories</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Featured Videos</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Technology</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Health</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Politics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Environment</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link" href="">Blogs</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Quantum Computing</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">AI Ethics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Space Exploration</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Biotechnology</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Renewable Energy</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">Biohacking</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link" href="">Podcasts</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">AI Revolution</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">TechTalk AI</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik" href="">AI Conversations</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link" href="">Resources</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-lik button" href="">
                <span class="icon icon--yellow-arrow">Whitepapers</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik button" href="">
                <span class="icon icon--yellow-arrow">Ebooks</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik button" href="">
                <span class="icon icon--yellow-arrow">Reports</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-lik button" href="">
                <span class="icon icon--yellow-arrow">Research Papers</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="footer__extra">
      <div class="footer__extra-menu">
        <ul class="footer__extra-list">
          <li class="footer__extra-item">
            <a class="footer__extra-link" href="">Terms & Conditions</a>
          </li>
          <li class="footer__extra-item">
            <a class="footer__extra-link" href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer__soc1als soc1als">
        <ul class="soc1als__list">
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href=""
              target="_blank"
              aria-label="Twitter"
              title="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href=""
              target="_blank"
              aria-label="Medium"
              title="Medium">
              <svg>
                <use xlink:href="img/sprite.svg#medium"></use>
              </svg>
            </a>
          </li>
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href=""
              target="_blank"
              aria-label="LinkedIn"
              title="LinkedIn">
              <svg>
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">
        ©
        <time datetime="2025">2025</time>
        FutureTech. All rights reserved.
      </p>
    </div>
  </div>
</footer>
