<section class="hero-alt" aria-labelledby="news-title">
  <header class="hero-alt__header">
    <div class="hero-alt__header-inner container">
      <h1 class="hero-alt__title" id="news-title">
        Today's Headlines: Stay
        <span class="hero-alt__title-hidden-part">Informed</span>
      </h1>
      <p class="hero-alt__subtitle h1 hidden-mobile" aria-hidden="true">
        Informed
      </p>
      <p class="hero-alt__description">
        Explore the latest news from around the world. We bring you
        up-to-the-minute updates on the most significant events, trends, and
        stories. Discover the world through our news coverage.
      </p>
    </div>
  </header>
  <div class="hero-alt__body">
    <ul class="list">
      <li class="list__item">
        <article class="news-card container">
          <img
            class="news-card__image"
            src="img/news/1.jpg"
            alt=""
            width="515"
            height="427"
            loading="lazy" />
          <div class="news-card__body">
            <h2 class="news-card__title">
              Global Climate Summit Addresses Urgent Climate Action
            </h2>
            <p class="news-card__description">
              World leaders gathered at the Global Climate Summit to discuss
              urgent climate action, emissions reductions, and renewable energy
              targets.
            </p>
          </div>
          <div class="news-card__summary summary">
            <dl class="summary__list">
              <div class="summary__item">
                <dt class="summary__term">Category</dt>
                <dd class="summary__details">Environment</dd>
              </div>
              <div class="summary__item">
                <dt class="summary__term">Publication Date</dt>
                <dd class="summary__details">
                  <time datetime="2025-10-10">October 10, 2025</time>
                </dd>
              </div>
              <div class="summary__item">
                <dt class="summary__term">Author</dt>
                <dd class="summary__details">Jane Smith</dd>
              </div>
            </dl>
          </div>
          <div class="news-card__controls">
            <div class="new-card__actions blog-actions">
              <ul class="blog-actions__list">
                <li class="blog-actions__item">
                  <button
                    class="blog-actions__button js-toggle-like-button"
                    type="button"
                    aria-label="Like"
                    title="Like">
                    <span class="blog-actions__icon-wrapper">
                      <svg>
                        <use xlink:href="img/sprite.svg#like"></use>
                      </svg>
                    </span>
                    <span>14k</span>
                  </button>
                </li>
                <li class="blog-actions__item">
                  <button
                    class="blog-actions__button"
                    type="button"
                    aria-label="Share"
                    title="Share">
                    <span class="blog-actions__icon-wrapper">
                      <svg>
                        <use xlink:href="img/sprite.svg#share"></use>
                      </svg>
                    </span>
                    <span>204</span>
                  </button>
                </li>
              </ul>
            </div>
            <a class="news-card__link button" href="#">Read More</a>
          </div>
        </article>
      </li>
      <li class="list__item">
        <div class="news container">
          <ul class="news__list">
            <li class="news__item">
              <article class="news-card">
                <img
                  class="news-card__image"
                  src="img/news/2.jpg"
                  alt=""
                  width="512"
                  height="222"
                  loading="lazy" />
                <div class="news-card__body">
                  <h2 class="news-card__title h6">
                    A Decisive Victory for Progressive Policies
                  </h2>
                  <p class="news-card__description">Politics</p>
                </div>
                <div class="news-card__controls">
                  <div class="new-card__actions blog-actions">
                    <ul class="blog-actions__list">
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button js-toggle-like-button"
                          type="button"
                          aria-label="Like"
                          title="Like">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#like"></use>
                            </svg>
                          </span>
                          <span>2.2k</span>
                        </button>
                      </li>
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button"
                          type="button"
                          aria-label="Share"
                          title="Share">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#share"></use>
                            </svg>
                          </span>
                          <span>60</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a class="news-card__link button" href="#">
                    <span class="icon icon--yellow-arrow">Read More</span>
                  </a>
                </div>
              </article>
            </li>
            <li class="news__item">
              <article class="news-card">
                <img
                  class="news-card__image"
                  src="img/news/3.jpg"
                  alt=""
                  width="512"
                  height="222"
                  loading="lazy" />
                <div class="news-card__body">
                  <h2 class="news-card__title h6">
                    Tech Giants Unveil Cutting-Edge AI Innovations
                  </h2>
                  <p class="news-card__description">Technology</p>
                </div>
                <div class="news-card__controls">
                  <div class="new-card__actions blog-actions">
                    <ul class="blog-actions__list">
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button js-toggle-like-button"
                          type="button"
                          aria-label="Like"
                          title="Like">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#like"></use>
                            </svg>
                          </span>
                          <span>6k</span>
                        </button>
                      </li>
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button"
                          type="button"
                          aria-label="Share"
                          title="Share">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#share"></use>
                            </svg>
                          </span>
                          <span>92</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a class="news-card__link button" href="#">
                    <span class="icon icon--yellow-arrow">Read More</span>
                  </a>
                </div>
              </article>
            </li>
            <li class="news__item">
              <article class="news-card">
                <img
                  class="news-card__image"
                  src="img/news/4.jpg"
                  alt=""
                  width="512"
                  height="222"
                  loading="lazy" />
                <div class="news-card__body">
                  <h2 class="news-card__title h6">COVID-19 Variants</h2>
                  <p class="news-card__description">Health</p>
                </div>
                <div class="news-card__controls">
                  <div class="new-card__actions blog-actions">
                    <ul class="blog-actions__list">
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button js-toggle-like-button"
                          type="button"
                          aria-label="Like"
                          title="Like">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#like"></use>
                            </svg>
                          </span>
                          <span>10k</span>
                        </button>
                      </li>
                      <li class="blog-actions__item">
                        <button
                          class="blog-actions__button"
                          type="button"
                          aria-label="Share"
                          title="Share">
                          <span class="blog-actions__icon-wrapper">
                            <svg>
                              <use xlink:href="img/sprite.svg#share"></use>
                            </svg>
                          </span>
                          <span>124</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <a class="news-card__link button" href="#">
                    <span class="icon icon--yellow-arrow">Read More</span>
                  </a>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
