<section class="hero-alt" aria-labelledby="podcasts-title">
  <header class="hero-alt__header">
    <div class="hero-alt__header-inner container">
      <h1 class="hero-alt__title" id="podcasts-title">
        Unlock the World of Artificial Intelligence
        <span class="hero-alt__title-hidden-part">through Podcasts</span>
      </h1>
      <p class="hero-alt__subtitle h1 hidden-mobile" aria-hidden="true">
        through Podcasts
      </p>
      <p class="hero-alt__description">
        Dive deep into the AI universe with our collection of insightful
        podcasts. Explore the latest trends, breakthroughs, and discussions on
        artificial intelligence. Whether you're an enthusiast or a professional,
        our AI podcasts offer a gateway to knowledge and innovation.
      </p>
    </div>
  </header>
  <div class="hero-alt__body">
    <ul class="list">
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/podcasts/icon-1.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h2 class="card__preview-title h3">AI Revolution</h2>
                <div
                  class="card__rating-view rating-view"
                  aria-label="Rating 5 stars"
                  title="Rating 5 stars">
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                </div>
              </div>
            </div>
            <div class="card__preview-extra">
              <div class="card__cell tile">
                <h3 class="card__cell-subtitle">Host</h3>
                <p class="card__cell-description h6">Dr. Sarah Mitchell</p>
                <a class="card__cell-link button" href="#">
                  <span class="icon icon--yellow-arrow">Listen Podcast</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__grid card__grid--3-cols">
              <div class="card__cell card__cell--wide">
                <div class="video-player" data-js-video-player>
                  <video
                    class="video-player__video"
                    src="videos/example.mp4"
                    width="917"
                    height="412"
                    poster="img/podcasts/poster-1.jpg"
                    playsinline
                    preload="none"
                    data-js-video-player-video>
                    <source src="videos/example.webm" type="video/webm" />
                    <source src="videos/example.mp4" type="video/mp4" />
                  </video>
                  <div
                    class="video-player__panel video-player__panel--center is-active"
                    data-js-video-player-panel>
                    <button
                      class="video-player__play-button"
                      type="button"
                      aria-label="Play Video"
                      title="Play Video"
                      data-js-video-player-play-button>
                      <svg>
                        <use xlink:href="img/sprite.svg#play-icon"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card__cell card__cell--wide">
                <h3 class="card__cell-title h4">
                  Delves into the transformative impact of AI
                </h3>
                <p class="card__cell-description">
                  Join Dr. Sarah Mitchell as she delves into the transformative
                  impact of AI on industries, featuring expert interviews and
                  real-world case studies. Explore the possibilities of AI in
                  healthcare, finance, and more.
                </p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Total Episodes</p>
                <p class="card__cell-description h6">50</p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Average Episode Length</p>
                <p class="card__cell-description h6">30 min</p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Release Frequency</p>
                <p class="card__cell-description h6">Weekly</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/podcasts/icon-2.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h2 class="card__preview-title h3">AI Conversations</h2>
                <div
                  class="card__rating-view rating-view"
                  aria-label="Rating 5 stars"
                  title="Rating 5 stars">
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                  <div class="rating-view__star is-active"></div>
                </div>
              </div>
            </div>
            <div class="card__preview-extra">
              <div class="card__cell tile">
                <h3 class="card__cell-subtitle">Host</h3>
                <p class="card__cell-description h6">Mark Anderson</p>
                <a class="card__cell-link button" href="#">
                  <span class="icon icon--yellow-arrow">Listen Podcast</span>
                </a>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__grid card__grid--3-cols">
              <div class="card__cell card__cell--wide">
                <div class="video-player" data-js-video-player>
                  <video
                    class="video-player__video"
                    src="videos/example.mp4"
                    width="917"
                    height="412"
                    poster="img/podcasts/poster-2.jpg"
                    playsinline
                    preload="none"
                    data-js-video-player-video>
                    <source src="videos/example.webm" type="video/webm" />
                    <source src="videos/example.mp4" type="video/mp4" />
                  </video>
                  <div
                    class="video-player__panel video-player__panel--center is-active"
                    data-js-video-player-panel>
                    <button
                      class="video-player__play-button"
                      type="button"
                      aria-label="Play Video"
                      title="Play Video"
                      data-js-video-player-play-button>
                      <svg>
                        <use xlink:href="img/sprite.svg#play-icon"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card__cell card__cell--wide">
                <h3 class="card__cell-title h4">
                  Engage in thought-provoking conversations with leading
                  experts.
                </h3>
                <p class="card__cell-description">
                  Mark discusses the future of AI, the impact on society, and
                  how it's shaping industries worldwide. Engage in
                  thought-provoking conversations with leading experts.
                </p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Total Episodes</p>
                <p class="card__cell-description h6">40</p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Average Episode Length</p>
                <p class="card__cell-description h6">40 min</p>
              </div>
              <div class="card__cell tile">
                <p class="card__cell-title">Release Frequency</p>
                <p class="card__cell-description h6">Monthly</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
