<section class="section tabs" aria-labelledby="reports-title" data-js-tabs>
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Dive into the Details</p>
        <h2 class="section__title" id="reports-title">
          In-Depth Reports and Analysis
        </h2>
      </div>
      <div class="section__actions">
        <div
          class="tabs__buttons tabs__buttons--compact"
          role="tablist"
          aria-labelledby="reports-title">
          <button
            class="tabs__button is-active"
            type="button"
            id="tab-1"
            role="tab"
            aria-controls="tabpanel-1"
            aria-selected="true"
            data-js-tab-button>
            Whitepapers
          </button>
          <button
            class="tabs__button"
            type="button"
            id="tab-2"
            role="tab"
            aria-controls="tabpanel-2"
            aria-selected="false"
            data-js-tab-button
            tabindex="-1">
            Ebooks
          </button>
          <button
            class="tabs__button"
            type="button"
            id="tab-3"
            role="tab"
            aria-controls="tabpanel-3"
            aria-selected="false"
            data-js-tab-button
            tabindex="-1">
            Reports
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="section__body">
    <div class="tabs__body">
      <div
        class="tabs__content is-active"
        id="tabpanel-1"
        aria-labelledby="tab-1"
        tabindex="0"
        data-js-tab-content>
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-1.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Quantum Computing Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Provides technical specifications and requirements for
                      implementing quantum computing systems.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source srcset="img/reports/1.webp" type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/reports/1.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Quantum Computing Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper exploring the principles,
                      applications, and potential impact of quantum computing.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2025-07">July 2025</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Quantum Computing</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-2.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Space Exploration Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Explores Mars colonization, asteroid resource potential,
                      and space tourism.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source srcset="img/reports/2.webp" type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/reports/2.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Space Exploration Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper covering the latest advancements in
                      space exploration, including Mars missions and asteroid
                      mining.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2023-09">September 2023</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Space Exploration</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">
                      FutureTech Space Division
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/3.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2025</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/4.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/5.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <p class="report-card__description">
                  An in-depth whitepaper exploring the principles, applications.
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="tabs__content"
        id="tabpanel-2"
        aria-labelledby="tab-2"
        tabindex="0"
        data-js-tab-content>
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-1.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Quantum Computing Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Provides technical specifications and requirements for
                      implementing quantum computing systems.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source srcset="img/reports/2.webp" type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/reports/2.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Quantum Computing Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper exploring the principles,
                      applications, and potential impact of quantum computing.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2025-07">July 2025</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Quantum Computing</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-2.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Space Exploration Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Explores Mars colonization, asteroid resource potential,
                      and space tourism.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source srcset="img/reports/2.webp" type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/reports/2.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Space Exploration Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper covering the latest advancements in
                      space exploration, including Mars missions and asteroid
                      mining.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2023-09">September 2023</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Space Exploration</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">
                      FutureTech Space Division
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/3.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2025</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/4.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/5.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <p class="report-card__description">
                  An in-depth whitepaper exploring the principles, applications.
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="tabs__content"
        id="tabpanel-3"
        aria-labelledby="tab-3"
        tabindex="0"
        data-js-tab-content>
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-1.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Quantum Computing Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Provides technical specifications and requirements for
                      implementing quantum computing systems.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source
                        srcset="img/podcasts/poster-2.webp"
                        type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/podcasts/poster-2.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Quantum Computing Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper exploring the principles,
                      applications, and potential impact of quantum computing.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2025-07">July 2025</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Quantum Computing</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <img
                    class="card__preview-icon"
                    src="img/reports/icon-2.svg"
                    alt=""
                    width="80"
                    height="80"
                    loading="lazy" />
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Space Exploration Whitepaper
                    </h3>
                    <p class="card__preview-description">
                      Explores Mars colonization, asteroid resource potential,
                      and space tourism.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <picture>
                      <source srcset="img/reports/2.webp" type="image/webp" />
                      <img
                        class="card__cell-image"
                        src="img/reports/2.jpg"
                        alt=""
                        width="917"
                        height="332"
                        loading="lazy" />
                    </picture>
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Space Exploration Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper covering the latest advancements in
                      space exploration, including Mars missions and asteroid
                      mining.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="#"
                      download>
                      <span class="icon icon--yellow-arrow">
                        Download PDF Now
                      </span>
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2023-09">September 2023</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Space Exploration</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">
                      FutureTech Space Division
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/3.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2025</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/4.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <p class="report-card__description">
                  An ebook that predicts upcoming technology trends for the next
                  year, including AI developments
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                class="report-card__image"
                src="img/reports/5.jpg"
                alt=""
                width="470"
                height="290"
                loading="lazy" />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <p class="report-card__description">
                  An in-depth whitepaper exploring the principles, applications.
                </p>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="#">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="#"
                  download>
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
