<section class="section" aria-labelledby="resources-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">
          Your Gateway to In-Depth Information
        </p>
        <h2
          class="section__title section__title--resources"
          id="resources-title">
          Unlock Valuable Knowledge with FutureTech's Resources
        </h2>
      </div>
      <a class="section__link button" href="#">
        <span class="icon icon--yellow-arrow">View All Resources</span>
      </a>
    </div>
  </header>
  <div class="section__body">
    <ul class="list">
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/resources/icon-1.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h3 class="card__preview-title">Ebooks</h3>
                <p class="card__preview-description">
                  Explore our collection of ebooks covering a wide spectrum of
                  future technology topics.
                </p>
              </div>
              <a class="card__preview-link button buttom--dark-gray" href="#">
                <span class="icon icon--yellow-arrow">Download Ebooks Now</span>
              </a>
            </div>
            <div class="card__preview-extra">
              <div class="download-info tile">
                <div class="download-info__body">
                  <p class="download-info__title">Downloaded By</p>
                  <p class="download-info__subtitle h5">10k + Users</p>
                </div>
                <div class="download-info__team team">
                  <img
                    class="team__person"
                    src="img/team/1.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/2.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/3.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/4.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__grid card__grid--2-cols-alt">
              <div class="card__cell">
                <h3 class="card__cell-title h5">Variety of Topics</h3>
              </div>
              <div class="card__cell">
                <p class="card__cell-description">
                  Topics include AI in education (25%), renewable energy (20%),
                  healthcare (15%), space exploration (25%), and biotechnology
                  (15%).
                </p>
              </div>
              <div class="card__cell card__cell--wide">
                <picture>
                  <source
                    srcset="img/resources/details-1.webp"
                    type="image/webp" />
                  <img
                    class="card__cell-image"
                    src="img/resources/details-1.jpg"
                    alt=""
                    width="917"
                    height="332"
                    loading="lazy" />
                </picture>
              </div>
              <div class="card__cell tile">
                <h4 class="card__cell-subtitle">Total Ebooks</h4>
                <p class="card__cell-description h6">Over 100 ebooks</p>
              </div>
              <div class="card__cell tile">
                <h4 class="card__cell-subtitle">Download Formats</h4>
                <p class="card__cell-description h6">PDF format for access.</p>
                <a class="card__cell-link button" href="#">
                  <span class="icon icon--yellow-eye">Preview</span>
                </a>
              </div>
              <div class="card__cell card__cell--wide tile">
                <h4 class="card__cell-subtitle">Average Author Expertise</h4>
                <p class="card__cell-description h6">
                  Ebooks are authored by renowned experts with an average of 15
                  years of experience
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="card container">
          <div class="card__preview">
            <div class="card__preview-main">
              <img
                class="card__preview-icon"
                src="img/resources/icon-2.svg"
                alt=""
                width="80"
                height="80"
                loading="lazy" />
              <div class="card__preview-info">
                <h3 class="card__preview-title">Whitepapers</h3>
                <p class="card__preview-description">
                  Dive into comprehensive reports and analyses with our
                  collection of whitepapers.
                </p>
              </div>
              <a class="card__preview-link button buttom--dark-gray" href="#">
                <span class="icon icon--yellow-arrow">
                  Download Whitepapers Now
                </span>
              </a>
            </div>
            <div class="card__preview-extra">
              <div class="download-info tile">
                <div class="download-info__body">
                  <p class="download-info__title">Downloaded By</p>
                  <p class="download-info__subtitle h5">10k + Users</p>
                </div>
                <div class="download-info__team team">
                  <img
                    class="team__person"
                    src="img/team/1.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/2.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/3.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                  <img
                    class="team__person"
                    src="img/team/4.png"
                    width="50"
                    height="50"
                    loading="lazy"
                    alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="card__body">
            <div class="card__grid card__grid--2-cols-alt">
              <div class="card__cell">
                <h3 class="card__cell-title h5">Topics Coverage</h3>
              </div>
              <div class="card__cell">
                <p class="card__cell-description">
                  Whitepapers cover quantum computing (20%), AI ethics (15%),
                  space mining prospects (20%), AI in healthcare (15%), and
                  renewable energy strategies (30%).
                </p>
              </div>
              <div class="card__cell card__cell--wide">
                <picture>
                  <source
                    srcset="img/resources/details-2.webp"
                    type="image/webp" />
                  <img
                    class="card__cell-image"
                    src="img/resources/details-2.jpg"
                    alt=""
                    width="917"
                    height="332"
                    loading="lazy" />
                </picture>
              </div>
              <div class="card__cell tile">
                <h4 class="card__cell-subtitle">Total Whitepapers</h4>
                <p class="card__cell-description h6">Over 50 whitepapers</p>
              </div>
              <div class="card__cell tile">
                <h4 class="card__cell-subtitle">Download Formats</h4>
                <p class="card__cell-description h6">PDF format for access.</p>
                <a class="card__cell-link button" href="#">
                  <span class="icon icon--yellow-eye">Preview</span>
                </a>
              </div>
              <div class="card__cell card__cell--wide tile">
                <h4 class="card__cell-subtitle">Average Author Expertise</h4>
                <p class="card__cell-description h6">
                  Whitepapers are authored by subject matter experts with an
                  average of 20 years of experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
