<section class="section" aria-labelledby="reviews-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">What Our Readers Say</p>
        <h2 class="section__title" id="reviews-title">
          Real Words from Real Readers
        </h2>
      </div>
      <a class="section__link button" href="#">
        <span class="icon icon--yellow-arrow">View All Testimonials</span>
      </a>
    </div>
  </header>
  <div class="section__body">
    <ul class="bordered-grid bordered-grid--3-cols container">
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/1.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Sarah Thompson</p>
              <p class="person-card__department">San Francisco, USA</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The ebooks on AI in education have been a game-changer for my
              research. They provide in-depth insights and case studies that are
              invaluable for staying updated.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/2.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Raj Patel</p>
              <p class="person-card__department">Mumbai, India</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The whitepapers on renewable energy strategies have greatly
              influenced my work. They offer detailed data and analysis, helping
              me make informed decisions.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/3.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Emily Adams</p>
              <p class="person-card__department">London, UK</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The AI in healthcare reports have been an essential resource for
              our hospital. They highlight the latest innovations and best
              practices, improving patient care.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/4.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Alan Jackson</p>
              <p class="person-card__department">Houston, USA</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The reports on space mining prospects have fueled my passion for
              space exploration. They provide a comprehensive view of what lies
              beyond Earth.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/5.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Jessica Miller</p>
              <p class="person-card__department">Boston, USA</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The research papers on genomic breakthroughs have been a goldmine
              of information. They've shaped the direction of my research in
              genomics.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="review-card">
          <div class="review-card__author person-card">
            <img
              class="person-card__image"
              src="img/reviews/6.png"
              alt=""
              width="60"
              height="60"
              loading="lazy" />
            <div class="person-card__body">
              <p class="person-card__name">Diego Lopez</p>
              <p class="person-card__department">Barcelona, Spain</p>
            </div>
          </div>
          <div class="review-card__body tile">
            <div
              class="review-card__rating-view rating-view"
              aria-label="Rating 5 stars"
              title="Rating 5 stars">
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
              <div class="rating-view__star is-active"></div>
            </div>
            <blockquote class="review-card__description">
              The ebooks on renewable energy strategies have given me the
              insights I needed to pivot our startup toward sustainability.
            </blockquote>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
