<section class="section" aria-labelledby="videos-podcasts-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Stay Informed with Fresh Content</p>
        <h2 class="section__title" id="videos-podcasts-title">
          Latest Podcast Episodes
        </h2>
      </div>
    </div>
  </header>
  <div class="section__body">
    <ul class="bordered-grid bordered-grid--3-cols container">
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-3.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-4.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-5.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-6.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-7.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video video-player__video--small"
              src="videos/example.mp4"
              width="470"
              height="390"
              poster="img/podcasts/poster-8.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
          <a class="video-card__link button" href="#">
            <span class="icon icon--yellow-arrow">Listen Podcast</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
