<section class="section" aria-labelledby="videos-title">
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Featured Videos</p>
        <h2 class="section__title" id="videos-title">
          Visual Insights for the Modern Viewer
        </h2>
      </div>
      <div class="section__actions">
        <a class="section__link button" href="index.html">
          <span class="icon icon--yellow-arrow">View All</span>
        </a>
      </div>
    </div>
  </header>
  <div class="section__body">
    <ul class="bordered-grid bordered-grid--2-cols container">
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video"
              src="videos/example.mp4"
              width="718"
              height="412"
              poster="img/videos/poster-1.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Mars Exploration: Unveiling Alien Landscapes
            </h3>
            <p class="video-card__description">
              Embark on a journey through the Red Planet's breathtaking
              landscapes and uncover the mysteries of Mars.
            </p>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video"
              src="videos/example.mp4"
              width="718"
              height="412"
              poster="img/videos/poster-2.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Blockchain Explained: A Revolution in Finance
            </h3>
            <p class="video-card__description">
              Delve into the world of blockchain technology and its
              transformative impact on the financial industry.
            </p>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video"
              src="videos/example.mp4"
              width="718"
              height="412"
              poster="img/videos/poster-3.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Breaking the Silence: Mental Health Awareness in the Workplace
            </h3>
            <p class="video-card__description">
              An exploration of the importance of mental health awareness and
              the initiatives reshaping workplaces for employee well-being.
            </p>
          </div>
        </div>
      </li>
      <li class="bordered-grid__item">
        <div class="video-card">
          <div class="video-card__player video-player" data-js-video-player>
            <video
              class="video-player__video"
              src="videos/example.mp4"
              width="718"
              height="412"
              poster="img/videos/poster-4.jpg"
              playsinline
              preload="none"
              data-js-video-player-video>
              <source src="videos/example.webm" type="video/webm" />
              <source src="videos/example.mp4" type="video/mp4" />
            </video>
            <div
              class="video-player__panel is-active"
              data-js-video-player-panel>
              <button
                class="video-player__play-button"
                type="button"
                aria-label="Play Video"
                title="Play Video"
                data-js-video-player-play-button>
                <svg>
                  <use xlink:href="img/sprite.svg#play-icon"></use>
                </svg>
              </button>
              <div class="video-player__duration">2.30 min</div>
            </div>
          </div>
          <div class="video-card__body">
            <h3 class="video-card__title h5">
              Revolutionizing Investment Strategies
            </h3>
            <p class="video-card__description">
              An in-depth look at global efforts to conserve biodiversity and
              safeguard endangered species from extinction.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
